body {
    background-color: black;
}
h1 {color: goldenrod;}
p {
    color:black
}
button { background-color: rgb(44, 1, 1);
    color: green;
    font-family: monospace;
    font-size: larger;
    object-position: center;
    

}


